.bg-red,.bg-red a{
   /* background-color: rgb(255, 56, 56); */
   /* color: white; */
}
/* ul li{
    border-right: 1px solid white;
}
ul li:last-child{
    border-right: none;
} */
#top{
    position: fixed;
    bottom: -30px;
    right: -75px;
    width: 200px; 
    height: 100px; 
    background-color: #a8cf45;
    color: white;
    transform: rotate(-45deg);
    z-index: 9999;
}
#top:hover{
    /* -ms-transform: scale(0.02, 0.03); IE 9 */
    /* -webkit-transform: scale(0.02, 0.03)scale(2, 3); Safari */
    transform: rotate(-45deg) scale(2,2);    
}
nav a::after{
    /* content: "|"; */
    /* font-weight: 300;
    margin: 0 5px 0 10px;
    position: relative;
    top: -2px; */
}
nav li:last-child a::after{
    content: "";
}
.border-right{
    border-right: 1px solid gray;
    padding-right: 10px;
    margin-right: 10px;
}
#menuright+a::after{
    content: "";
}
.vertical-bar::after{
    content: "|";
    font-weight: 300;
    margin: 0 10px 0 10px;
    position: relative;
    top: -2px;
    color: white;
}

nav a{
    color: white;
}
li{
    display: inline; 
}

#google{
    color:#a43c30;
}
#twitter{
    color:#1593bb;
}
#facebook{
    color:#3a4f8e;
}
#youtube{
    color:#db4940
}
.bg-color-1{
    background-color:  #ed3237;
}
.bg-color-2{
    background-color:  #a8cf45;
    color: white;
}
.bg-color-3{
    background-color: #f48a3c;
}
.bg-color-4{
    background-color:#f05535;
}
.color-1{
    color:  #ed3237 !important;
}
.color-2{
    color:  #a8cf45 !important;
}
.color-3{
    color: #f05535 !important;
}
.color-4{
    color: #f48a3c !important;
}
.color-white{
    color: white;
}
#emailSignup{
    position: relative;
    z-index: 1;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    border-top-right-radius:20px ;
    border-bottom-right-radius: 20px;
    /* float: left; */
}
#plane{
    position: relative;
    z-index: 2;
    left: -39px;
    bottom: 2px;

    float: right;
}   
.demo{
    background-color: red;
    border: 10px solid blue;
}
.card{
    font-size: 80%;
}
.card-header{
    border-left: 4px solid #a8cf45;
    border-bottom: none;
}
p{
    margin-bottom: 5px;

}
.badge{
    width: 20px;
    height: 20px;
    line-height: 14px;
    color: white;
}
.pictures{
    height: 200px;
}
#currentCost,#oldCost{
    display: inline;
}
.border-bottom-ct{
    border-bottom: 1px solid black;
    padding-bottom: 7px;
}
.bg-color-2:hover{
    /* background-color: #4e6b04; */
}
.btn-outline-success{
    border: 1px solid #a8cf45;
}
#countProd{
    position: relative;
    left: -41px;
    bottom: 1px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
      background-color: #a8cf45;
      color:white;
      border: none;
      /* padding-bottom: 0px !important; */
      border-bottom: 1px solid gray;
  }
  .ui-widget-header{
    background-color: white;
    border: none;
  
    border-bottom: 1px solid gray;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
        border: none;
  }
  .ui-corner-all{
    border-radius: 0px;
  }
  .ui-widget-content{
      /* border: none; */
  }
 button[class~="bg-color-2"]:hover{
     background-color: #547404;
 }
 .img-prod{
     object-fit: fill;
 }

.img-prod:hover{
    /* -ms-transform: scale(0.02, 0.03); IE 9 */
    /* -webkit-transform: scale(0.02, 0.03)scale(2, 3); Safari */
    transform: scale(1.1, 1.1);
}
a:hover{
    text-decoration: none;
    color:#db4940 !important;
}
div[class~="bg-color-2"] a:hover{
    color:#db4940 !important;
}
div[class~="bg-color-1"] a:hover{

    color:#a8cf45 !important;
}
.color-2:hover{
    color: #547404;
    
}
.text-bold{
    font-weight: bolder;
}
/* demo awl */

/* dropdown */
.dropdown:hover>.dropdown-menu {
    display: block;
    position: absolute;
    left:100px;
    float:left;
    z-index: 100;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .icon{
    transition: transform 1s;
  }
  .icon:hover{
    transform: rotate(360deg);
  }
#temp{
    display: none;
}
/* modal */

  @media screen and (max-width:990px)
  {
    .vertical-bar::after{
        content: "";
    }
  }
  @media screen and (max-width:1200px)
  {
        display: block;
        #width-cus{
            /* width: 100%; */
        }
        .text-center-cus{
            text-align: center;
        }
        div[class~="bg-color-2"] li:hover{
            background-color:#b3ff00 !important;
            color: #a8cf45;
        }
}
/* side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
    background-color: rgb(54, 53, 53);
}
.closebtn:hover{
    background-color: #111 !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}